* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5099ff;
  height: 60px;
  font-size: 20px;
}

.header_link {
  margin-left: 25px;

  &:hover {
    color: rgb(247, 247, 182);
    // border-bottom: 2px solid rgb(247, 247, 150);
  }
}